/*

A note, all the !important tags on custom classes
are due to materialize not liking sharing
they are needed for the custom style to show

*/
html{
  min-height: 100%;
  color: white;
  background: #000000;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000000;
  color: white;
  background-position: bottom;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img { 
  max-width:100%; 
  height:100%;
} 

.profile_btn{
  border: 2px solid grey !important;
  margin-top: 0.5em;
  margin-right: 5px;
}

.profile_btn:hover{
  border: 2px solid grey !important;
  box-shadow: 0px 0px 10px 4px rgba(255,255,255,0.15) !important;

}

.card{
  border-radius: 5px !important;
  -webkit-box-shadow: 0px 0px 18px 8px rgba(255,255,255,0.28) !important;
  -moz-box-shadow: 0px 0px 18px 8px rgba(255,255,255,0.28) !important;
  box-shadow: 0px 0px 18px 8px rgba(255,255,255,0.28) !important;
}

.withoutShadow{
  border-radius: 5px !important;
  -webkit-box-shadow: 0px 0px 18px 8px rgba(255,255,255,0) !important;
  -moz-box-shadow: 0px 0px 18px 8px rgba(255,255,255,0) !important;
  box-shadow: 0px 0px 18px 8px rgba(255,255,255,0) !important;
}

.delbtn{
  border: 2px solid red;
  color: red;
  float: right;
  width: 10%;
  text-align: center;
  border-radius: 5px;
}

.delbtn:hover{
  cursor: pointer;
}

.quest-title{
  text-align: center;
  color: white;
}

.charCards{
  margin: 1em !important;
  padding: 5px !important;
  padding-bottom: 20px !important;
  height: auto;
  width: 390px !important;
}

.charCol{
  height: auto;
}

.material-tooltip {
  width: 300px !important;
}

.attributeVals{
  text-align: center !important;
  text-decoration: none;
}

.spanVals{
  min-width: 200px !important;
}

.title-logo{
  width: 2.5vw;
  height: 2.5vw;
}

.title-text{
  font-size: 2.5vw;
}

.navbar-icons{
  margin:0;
  padding:0 !important;
  width: 3.5vw !important;
  height: 3.5vw !important;
}

@media only screen and (max-width: 800px) {
  .title-text{
    font-size: 3.5vw;
  }
  .title-logo{
    width: 2.5vw;
    height: 2.5vw;
  }
}

.itemCards{
  padding: 5px;
  margin: auto;
  margin-top: 5px;
  width: 25%;
  border-radius: 5px;
}

.tabs .tab a{
  color:#fff !important;
  margin-bottom: 30px !important;
} /*Black color to the text*/

.tabs .tab a:hover {
  background-color:#424242  !important;
  color:#fff;
} /*Text color on hover*/

.tabs .tab a.active {
  background-color:#212121 !important;
  color:#fff !important;

} /*Background and text color when a tab is active*/

.tabs .indicator {
  background-color:#424242  !important;

} /*Color of underline*/

.charTitle{
  font-size: large !important;
  text-align: center !important;
}
.roleTitle{
  text-align: center;
  border-bottom: #424230 solid;
}

.txtFieldFormat{
  align-content: left !important;
  text-align: left !important;
  padding: 3px !important;
  margin: 0px !important;
}

.pointed:hover{
  cursor: pointer;
}

.sidenav{
  color: white !important;
}

.sidenav-trigger{
  margin: 0 !important;
}

.incrementros{
  margin-left: 5px;
}

.flex-displayed{
  display: flex !important;
  flex-direction: row !important;
}

.descFormat{
  padding-bottom: 400px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.landing-text{
  text-indent: 3em;
}

.fighterShadow{
  -webkit-box-shadow: 0px 0px 18px 8px rgba(240, 72, 34, 0.8) !important;
  -moz-box-shadow: 0px 0px 18px 8px rgba(240, 72, 34, 0.8)!important;
  box-shadow: 0px 0px 18px 8px rgba(240, 72, 34, 0.8)!important;
}

.invokerShadow{
  -webkit-box-shadow: 0px 0px 18px 8px rgba(1,100,177,0.8) !important;
  -moz-box-shadow: 0px 0px 18px 8px rgba(1,100,177,0.8)!important;
  box-shadow: 0px 0px 18px 8px rgba(1,100,177,0.8)!important;
}

.rangerShadow{
  -webkit-box-shadow: 0px 0px 18px 8px rgba(0,161,187,0.8) !important;
  -moz-box-shadow: 0px 0px 18px 8px rgba(0,161,187,0.8)!important;
  box-shadow: 0px 0px 18px 8px rgba(0,161,187,0.8)!important;
}

.naturalistShadow{
  -webkit-box-shadow: 0px 0px 18px 8px rgba(90,158,68,0.8) !important;
  -moz-box-shadow: 0px 0px 18px 8px rgba(90,158,68,0.8)!important;
  box-shadow: 0px 0px 18px 8px rgba(90,158,68,0.8)!important;
}

.doctorShadow{
  -webkit-box-shadow: 0px 0px 18px 8px rgba(220,32,39,0.8) !important;
  -moz-box-shadow: 0px 0px 18px 8px rgba(220,32,39,0.8)!important;
  box-shadow: 0px 0px 18px 8px rgba(220,32,39,0.8)!important;
}

.spyShadow{
  -webkit-box-shadow: 0px 0px 18px 8px rgba(76,56,150,0.8) !important;
  -moz-box-shadow: 0px 0px 18px 8px rgba(76,56,150,0.8)!important;
  box-shadow: 0px 0px 18px 8px rgba(76,56,150,0.8)!important;
}

.magicianShadow{
  -webkit-box-shadow: 0px 0px 18px 8px rgba(237,2,140,0.8) !important;
  -moz-box-shadow: 0px 0px 18px 8px rgba(237,2,140,0.8)!important;
  box-shadow: 0px 0px 18px 8px rgba(237,2,140,0.8)!important;
}

.wizardShadow{
  -webkit-box-shadow: 0px 0px 18px 8px rgba(226,193,33,0.8) !important;
  -moz-box-shadow: 0px 0px 18px 8px rgba(226,193,33,0.8)!important;
  box-shadow: 0px 0px 18px 8px rgba(226,193,33,0.8)!important;
}

.dashboard{
  padding-top: 20px !important;
}

.project-details{
  padding-top: 10px !important;
}

.diceInfo{
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.rollItemStyle{
  position: absolute;
  padding: 0 !important;
  margin: 0 !important;
  float: left !important;
  margin-top: -25px !important;
}

.rollRowStyle{
  margin: 8px !important;
  margin-bottom: 2px !important;
  padding: 8px !important;
}

.editSwitch{
  margin-left:55px !important;
}

@media only screen and (max-width: 800px) {
  .rollRowStyle{
    margin: 8px !important;
    margin-bottom: 30px !important;
    padding: 8px !important;
  }
  .editSwitch{
    margin-left:55px !important;
  }
}